$body-bg: #222222ff;
$primary: #13aff0ff;
$secondary: #333333ff;
$danger: #d71720ff;
$success: #5cb85cff;
$warning: #FF7F50;
$info: #54abeeff;
$dark: #222222ff;
$fade: #000000a8;
$grey: #5d5d5dff;
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');


$font-sans-serif: 'Fredoka', sans-serif;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
